<div class="row mb-5">
  <div class="col-md-6 ">
    <img [src]="product?.Img" alt="">
    <div class="d-flex justify-content-center" role="group" aria-label="Basic example">
      <button class="border-0" (click)="prevFunc()" [disabled]="Prd==returnNumIds[0]"><i class="fa-solid fa-angles-left fs-4 text-primary"></i></button>
      <button class="border-0" (click)="nextFunc()" [disabled]="Prd==returnNumIds[returnNumIds.length-1]"><i class="fa-solid fa-angles-right fs-4"></i></button>
   </div>
  </div>
  <div class="col-md-6">
    <h4>Detail</h4>
    <h4>The Id :{{product?.id}}</h4>
    <h4>The Name : {{product?.Name}}</h4>
    <h4> The Price :{{product?.Price | currency}}</h4>
    <h4>The Cateogry :{{product?.CateoggryID}}</h4>
    <button imgStyle class="btn btn-danger m-2"
    (click)=" back_Home()">Back</button>
  </div>
</div>
